# Data files
*.csv
*.pkl
*.joblib
Data/

venv/
__pycache__/
*.pyc
.env

Data/Raw/*
Data/Processed/*
Data/Engineered/*

# Models - faqat best model saqlansin
Models/*
!Models/best/
!Models/best/best_model_pipeline.joblib

.DS_Store
.ipynb_checkpoints/